code {
  @apply text-sm;
}

/*-------------------------------------------
        Override Dark Mode BG Colors
--------------------------------------------*/

.dark footer,
.dark body {
  background-color: var(--brionmario-palette-background-main) !important;
}

.dark .nextra-nav-container .nextra-nav-container-blur {
  background-color: var(--brionmario-palette-background-main) !important;
}

html[class~=dark] .nextra-scrollbar .nx-items-start {
  background-color: var(--brionmario-palette-background-main) !important;
  box-shadow: none;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

/*-------------------------------------------
      Override the Tailwind preflight
--------------------------------------------*/

button[type='submit'] {
  @apply bg-black;
}

/*-------------------------------------------
                List Overrides
--------------------------------------------*/

.list,
.list:focus-visible,
.list:focus {
  outline: none !important;
  box-shadow: none !important;
}

.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: '';
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  transform-origin: left;
  left: 0;
  bottom: -4px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
  background-color: currentColor;
  transform: scaleX(1);
}

@media (prefers-reduced-motion) {
  .underlined:after {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .underlined:hover:after,
  .underlined:focus:after,
  .active.underlined:after {
    opacity: 1;
  }
}
